.sharer{
    margin-left:30px;
    width:75px;
    height: 30px;
    background: #171717;
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;

}
.sharer:hover{
    opacity: 0.8;
}
.sharer:active{
    opacity: 1;
}